body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

input,
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.user-list {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
